*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration:none;

}

.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: 2px 1px 20px gray;
}
.subcontainer{
    display: flex;
    justify-content:space-between;
    width: 90%;
    height: 100px;
}
.brandname{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100px;
    font-size: 20px;
    color:#2d2e32;
}
.navbarcontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:40% ;
    height: 100px;
    font-size: 30px;
}
.menu{
    text-align: none;
    font-size: 20px;
    font-family: sans-serif;
    color:#2d2e32;
    font-weight: 700;
}
.menubar{
    text-decoration: none;
}
.herocontainer{
    display: flex;
    width: 100%;
    height: 500px;
}
.subherocontainer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9
}
.textcontainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.text1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 900;
}
.text2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    width: 50%;
}
.paragraph{
    color: #666;
    line-height: 1.2;
    font-size: 15px;
    width:50% ;
    word-spacing: 1.2;
    margin: 10px;
    padding: 15px;
}
.imgagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
img{
    display:inline-block;
    border-radius:50%;
    border: 2px 2px solid black;
    box-shadow: 3px 3px 10px gray;
    width:400px;
    height: 350px;  
    transform: transition, liner;
}
img:hover{
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
    transition: 1s;
    transition: linear 2s;
}
.fa-brands{
    margin: 10px;
    padding: 10px;
    font-size: 40px;
}
.techstack{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    height: 100px;
    padding: 15px;
    background-color: #f9f9f9;
}
.font1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:2px solid black ;
    height: 40px;    
    margin: 15px;   
    padding: 15px;
    letter-spacing: 2;
}
.contactboxcontainer{
    background-color: #f9f9f9;
    width: 100%;
    height:300px;
}
.Contact{
    font-size: 35px;
    color: #147efb;
    display: flex;
    justify-content: center;
    width: 40%;
    margin:5px;
    padding: 15px;
}
.contactinfo{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5px;
    padding: 10px;
}
.locationcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    }
.fa-solid {
    display: flex;
    padding: 10px;
    margin: 30px;
    font-size: 50px;
}
.Location{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    letter-spacing:1.5 ;
    width: 40%;
}
.mailcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa-solid{
    display: flex;
    color: #147efb;
    background-color: #f9f9f9;
    border-radius: 80%;
}
.rightscontainer{
    display: flex;
    background-color: #2d2e32;
    color: white;
    font-weight: 800;
    font-size: 15px;
    width: 100%;
    height: 200%;
    justify-content:space-evenly;
    align-items: center;
}